.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .font-size-16 {
    font-size: 14px;
    line-height: 120%;
}
  
  /* Remove extra left and right margins, due to padding */
  .row {
      /* margin: 0 -5px; */
      /* text-align: center; */
      /* width:100%; */
      /* margin:auto; */
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 41%;
      display: block;
      margin: 4px 4px 4px 4px;
      /* margin-left: 2px;
      margin-right:2px;
      margin-bottom: 2px; */
    }

    .row{
        font-size: 12px;
        line-height: 120%;
    }

    .font-size-16{
        font-size: 16px;
        line-height: 120%;
    }
  }
  
  /* Style the counter cards */
  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* padding: 16px; */
    text-align: center;
    /* background-color: #ffffff; */
  }